<% content_for :title do %>About<% end %>
<h3>About Yuli Roth</h3>

</p><p>Personal Information:
</p><p>Phone: 054-722-7449
</p><p>Email: yuli.roth@gmail.com
</p><p>Languages: Russian and Hebrew – Native speaker, English – Fluent, French – Medium level
<br><br>

</p><p>Education:
</p><p>2010 – 2013 – MBA, Specializing in Marketing and Advertising
</p><p>2003 – 2007 – BA in the Humanities Faculty, Tel Aviv University
</p><p>2000 – 2003 – Software Engineering Courses – Java and Web Programming, John Bryce
</p><p>1994 – 1997 – Graduated Rishonim High School, Hertzliya<br><br>

</p><p>Employment:
</p><p>2010 – 2013 – COO, Senior Partner in Establishing a Subsidiary Company in Israel of Constantin Entertainment – an International TV Production Company

</p><p>My job entailed:
</p><p>•	Managing "The Voice" Israel brand
</p><p>•	Establishing marcom strategy for the brand
</p><p>•	Ongoing relations with senior factors in the local and international field of communication
</p><p>•	Providing continuous legal assistance to the company
</p><p>•	Managing internal and external negotiations
</p><p>•	Consolidating and establishing annual work plans, leading and supervising, budgetary management for all of the company's extensions
</p><p>•	PR management, creating presentations, establishing the company's internet website and Facebook page
</p><p>•	Performing market and market share analysis against the competitors, local and international market size<br><br>

</p><p>2009 – 2010 – Founder and Owner, X-Dream Productions
</p><p>Producing luxury, business events and commercial festivals such as:
</p><p>•	The International Yachtsman Festival on behalf of the Hertzliya Local Tourist Development Co. Ltd. With the participation of 1,500 yachtsman from all around the world
</p><p>•	Producing the International Student Film Festival in Eilat. With cooperation from Peles Company. An event consisting of local and international students 
</p><p>•	Producing the ONE Street Festival in Hertzliya Pituah. Sponsored by Hertzliya municipality, Agadir Restaurants, Red Bull and Carlsberg, with the participation of 35,000 people
</p><p>•	Producing an Electronics Music Festival at the Dead Sea. Sponsored by Coca-Cola Company in cooperation with BIS Productions and IBBL Spirit Ltd.
</p><p>•	Producing Moses street festival in Hertzeliya Pituah. Sponsored by Hertzliya municipality, Moses Restaurants, Hertzliya Local Tourist Development Co. Ltd. With the participation of 30,000 people<br>

</p><p>In the capacity of my work I was in charge of the following:
</p><p>•	Planning, initiating, managing and implementing productions and projects to promote sponsors
</p><p>•	Integrating advertising strategy
</p><p>•	Planning and media buy in various channels, implementing media among the target audience in order to achieve the events' marketing and image goals
</p><p>•	Consolidating and establishing work plans and production budgets
</p><p>•	Managing the PR array – drafting press releases and conducting ongoing work in front of the various advertising interfaces, engaging with PR and advertising agencies
</p><p>•	Producing marketing materials such as: banners, brochures, advertising publications for various segments, image reports, presentations and etc.
</p><p>•	Creating and administrating a separate website and Facebook pages for every event in the capacity of branding the events
</p><p>•	Managing an extensive staff

</p><p>Projects through SAS and TLV Production Companies
</p><p>•	Tiesto Samsung – Tel Aviv 100 Festival in the Israel Trade Fairs & Convention Center with cooperation with TLV group
</p><p>o	Active production and managing post production and pre-production
</p><p>o	Budgetary management and working with suppliers and authorities, programming management and ticket distribution software, raising endorsements, working with local and international artist agents
</p><p>•	BLU4Dance Festival in Eilat, hosting DJ Tiesto with cooperation with TLV
</p><p>o	The Festival was produced under the sponsorship of BLU beverage company, with 12,000 participants
</p><p>o	Active production and managing post production and pre-production
</p><p>o	Budgetary management and working with suppliers and authorities, programming management and ticket distribution software, raising endorsements, working with local and international artist agents

</p><p>Projects in the capacity of the Tel Aviv University
</p><p>1998 – 1999 – The Tel Aviv University 8th International Student Film Festival
</p><p>Active producing, coordinating with local and international universities, directors, embassies and the festival's guests of honor, raising endorsements. Initiating and producing an </p><p>Israel Film Festival. A festival which included all local education institutions teaching film

</p><p>Employment in the field of Computers
</p><p>01/2008 – 12/2008 – Software Engineer – Ruby on Rails, Kontera (Yahoo's subsidiary)
</p><p>01/2007 – 01/2008 – Webmaster, operating a website in the field of tourism price comparison, Travelist
</p><p>01/2001 – 12/2004 – Webmaster and Event Producer, a local and worldwide dating website, Cupid 
</p><p>•	Producing singles events, conducting seminars, mixers and Cupid's wedding carnival

</p><p>Skills:
</p><p>Management abilities, able to work under pressure conditions, responsible, team player, aspiring to professionalism and excellence, hardworking and motivated to learn and get ahead, </p><p>out of the box thinker, representative, excellent human relations, leading and entrepreneurship skills

</p><p>Computer Skills:
</p><p>Proficient with MS Office software suite, extensive knowledge with creating endorsement raising presentations and writing programs suitable for the project
</p><p>Knowledgeable with Windows and Linux operating systems
</p><p>Programming in the following languages: JAVA, Ruby, HTML, JavaScript

